*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root
{
    --text-color:#000000;
    --bg-color:#e5e5e5;
    --main-color:#A9A9A9;
    --second-color:#fff;
    --bg-font:5.5rem;
    --p-font:1rem;
    --other-color:#868686;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header
{
    
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 9%;
    transition: all ease .55s;
    background-color:#e5e5e5;
}
.logo
{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 40px;
    font-weight: bold;
}
.logo iconify-icon{
    vertical-align: middle;
    color: #000;
    font-size: 45px;
    margin-right: 5px;
}
.nav-list
{
    display: flex;

}
.nav-list a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    margin: 0 35px;
    transition: all ease .55s;
}
.nav-list a:hover{
    color: var(--main-color);

}
.nav-list a.active
{
    color: var(--main-color);

}
.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 4.5rem;
    line-height: 1.3;
    font-weight: 800;
}

p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.hover-button {
    display: inline-block;
    padding: 10px 25px;
    color: #000;
    background: #e5e5e5;
    font-size: 1.3rem;
    font-weight: 1000;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    margin-right: 20px;
    transition: all ease .55s;
}

.hover-button:hover {
    background: transparent;
    border: 2px solid #e5e5e5;
    color: var(--text-color);
}
.h-main
{
    display: flex;
    align-items: center;
}
.h-btn
{
    display: inline-block;
    padding: 10px 25px;
    color: var(--main-color);
    background: #000;
    font-size: 14px;
    font-weight: 1000;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    margin-right: 20px;
    transition: all ease .55s;
}
.h-btn:hover
{
    background: transparent;
    border: 2px solid #000;
    color: var(--text-color);
}
#menu-icon
{
    font-size: 40px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin: 15px;
    display: none;
}
#darkmode
{
    font-size: 30px;
    cursor: pointer;
    color: var(--text-color);
    margin-left: 10px;
}
.hero
{
   padding: 10%;
}
.hero
{
    
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1rem;
}
.hero-img
{
    height: 800px;
    width: 800px;
}
.hero-img img
{
    width: 90%;
    height: 100%;
    object-fit: contain;
}
.hero-in .box img
{
    width: 200px;
}
.hero-in
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    align-items: center;
    text-align: center;
    gap: 30px;
}
.hero-text h1
{
    font-size: var(--bg-font);
    line-height: 1.3;
    font-weight: 800;
}
.hero-text h4{
    margin: 5px 0 20px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 22px;
    font-weight: 400;
}
.box 
{
    background:var(--second-color);
    margin-top: 20px;
    border-radius: 1rem;
    box-shadow: rgba(33,35,38,0.1) 0px 10px 10px -10px;
    transition: all ease .55s;
    cursor: pointer;
}
.box img
{
    max-width: 100%;
    height: auto;
}
.box h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 7px;
}
.box h5
{
    color: var(--main-color);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 4px;
}
.box:hover{
    transform: translateY(-5px) scale(1.1);
}
footer {
    margin-top: 120px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.subscribe input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

.subscribe button {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.company-info {
    text-align: center;
    margin-left: 70px;
    display: flex;
}

.company-info img {
    width: 150px; /* Adjust the width of the logo as needed */
    height: 20vh;
    margin-bottom: 10px;
    border-radius: 100px;
    margin-right: 50px;
}

.company-info p {
    margin-top: 20px;
    color: #e5e5e5;
    font-size: 14px;
    text-align: left;
}
/* Your default styles */

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        background-color:#fff;
    }
    .nav-list a
    {
        color: #000;
    }
    .nav-list.show {
        display: flex;
        height: 50vh;
    }

    .nav-list li {
        padding: 10px;
    }

    .h-main {
        margin-top: 20px;
    }

    .nav-list.show {
        animation: slideIn 0.3s ease-out; /* Add a slide-in animation for a smoother effect */
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    /* Additional styles for the menu icon and hiding the Buy Now button */
    #menu-icon {
        display: initial;
    }

    .h-main .h-btn {
        display: none;
    }
}
/* Default styles */

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .hero {
       grid-template-columns: 1fr;
        height: auto;
    }
    .hero-text
    {
        order: 2;
    }
    .hero-img {
        width: 300px;
        height: 400px;
    }

    .hero-img img {
        order:1;
        width: 100%; /* Make the image fill the container width */
        height: auto;
    }

    .hero-text {
        text-align: center;
    }
    .hero-text h1
    {
        font-size: 35px;
        text-align: center;
    }
    .hero-text h4
    {
        font-size: 15px;
        text-align: center;
    }
    .video-container
    {
        z-index: -1;
    }
    .hero-text  
    .hero-in {
        grid-template-columns: repeat(auto-fit,minmax(300px,auto));
       width:10px;

    }

    .box
    {
        padding: 5px;
    }
    footer
    {
      margin-top: 0;
    }
    .footer-container
    {
        display: flex;
        flex-direction: column;
    }
    .footer-nav
    {
        margin-left: 40px;
    }
    .social-media
    {
        margin-left: 10px;
    }
    .company-info
    {
        display: flex;
        flex-direction: column;
    }
    .company-info img
    {
        margin-left: 65px;
    }
    .company-info p
    {
        text-align: center;
        margin-right: 50px;
    }
}

